
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Calendar.css" rel="stylesheet" />

<div class="container1">
    <div class="left">
        <div class="calendar">
            <div class="month">
                <i class="bi bi-arrow-left-circle-fill prev text-primary"></i>
                <div class="date">december 2015</div>
                <i class="bi bi-arrow-right-circle-fill next text-primary"></i>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days"></div>
            <div class="goto-today">
                <div class="goto">
                    <input type="text" placeholder="mm/yyyy" class="date-input" />
                    <button class="goto-btn">Go</button>
                </div>
                <button class="today-btn">Today</button>
            </div>
        </div>
    </div>

    <div class="right mx-5">
        <div class="today-date ">
            <div class="event-day">wed</div>
            <div class="event-date">12th december 2022</div>
            <button id="cercaVendite" class="btn btn-primary   mx-auto"><i class="bi bi-search"></i></button>
        </div>
        <hr />
        <input type="date" id="Data" class="d-none" />

        <div id="Appuntamenti">
            <ul id="appuntamentiList">
            </ul>

        </div>



    </div>


</div>








@section scripts
{
    <script src="~/Scripts/Calendar.js"></script>
    <script>
        $(document).ready(function () {
            $('#cercaVendite').click(function () {
                var dataAppuntamento = $('#Data').val();
                $.ajax({
                    type: "POST",
                    url: "/Admin/Prenotazioni",
                    data: { data: dataAppuntamento },
                    success: function (data) {

                        $('#appuntamentiList').empty();

                        // Ordina gli appuntamenti in base al orario
                        data.slice(0, -1).sort(function (a, b) {
                            var timeA = parseTime(a.DataAppuntamento);
                            var timeB = parseTime(b.DataAppuntamento);
                            return timeA - timeB;
                        }).forEach(function (appuntamento) {
                            var listItem = '<a href="/Admin/Edit/' + appuntamento.AppuntamentoId + '" class="list-item-link">';
                            listItem += '<div class="fs-5">' + appuntamento.DataAppuntamento + ' - ' + appuntamento.Tipo + ' <br />' + appuntamento.NomeUtente + '</div>';
                            listItem += '</a>';
                            $('#appuntamentiList').append(listItem);
                        });

                        // Aggiungi il totale incassato
                        var totaleIncassato = data[data.length - 1].TotaleIncassato;
                        var totaleIncassatoHtml = ' <hr /> <strong class="fs-4">Guadagno stimato: ' + totaleIncassato + ' € ' + ' </strong>';
                        $('#appuntamentiList').append(totaleIncassatoHtml);
                    }
                });
            });
        });

        // Funzione per impostare l'orario nel formato "hh:mm" e ritornare i minuti tot
        function parseTime(timeString) {
            var parts = timeString.split(":");
            var hours = parseInt(parts[0]);
            var minutes = parseInt(parts[1]);
            return hours * 60 + minutes;
        }
    </script>
}



