@model IEnumerable<Parrucchiere.Models.QA>
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/FAQ.css" rel="stylesheet" />

<div id="faq" class="faq-body">
    <div class="faq-header">
        <h3 class="faq-title">FAQ's</h3>
        <div class="seperator ms-1"></div>
   

    </div>

    <div class="faq-list">
        @foreach (var q in Model.GroupBy(qa => qa.domande.IdDomanda))
        {
            var domanda = q.First();

            <div>
                <details open>
                    <summary title="How can I pay for my appointment?">@domanda.domande.Testo</summary>
                    @foreach (var risposta in q)
                    {
                        <p class="faq-content">

                            @risposta.Risposta
                                                                               
                        </p>
                    }
                    </details>
            </div>
        }
    </div>
</div>
