@model Parrucchiere.Models.Utenti
@{
    ViewBag.Title = "login";

}
<link href="~/Content/Login.css" rel="stylesheet" />


@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div class="segment">
        <h1>Sign up</h1>
        @Html.ValidationMessage("Login", new { @class = "text-danger" })
    </div>

    <label>
        <input type="text" name="Username" placeholder="Username" />
    </label>
    <label>
        <input type="password" name="password" placeholder="Password" />
    </label>
    <button class="red" type="submit"> Log in</button>
    <button class="red" type="button" id="registratiButton"> Sei nuovo? </button>
   

}

@section scripts
    {
    <script>
        document.getElementById("registratiButton").addEventListener("click", function () {
        window.location.href = "@Url.Action("Registrati", "Login")";
    });
    </script>
    }
