
@{
    ViewBag.Title = "ResetPassword";
}
<link href="~/Content/Login.css" rel="stylesheet" />



@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="segment">
        <h1>Reimposta password</h1>
     
    </div>
    <label>
        <input type="text" name="resetCode" placeholder="Codice" />
    </label>
    <label>
        <input type="password" name="newPassword" placeholder="Password" />
    </label>
    <label>
        <input type="password" name="confirmPassword" placeholder="Password" />
    </label>

    <button class="red" type="submit"> Reimposta Password</button>


}





